<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>

<h3>마이페이지</h3>

<h4 th:text="'username: '+ ${username}"></h4>

<div sec:authentication="principal"></div>
<div sec:authorize="hasAuthority('관리자')">
    <h4>이 유저는 관리자</h4>
</div>
<div sec:authorize="hasAuthority('일반유저')">
    <h4>이 유저는 일반유저</h4>
</div>
<div sec:authorize="isAnonymous()">
    <h4>로그인 후 이용 가능</h4>
</div>

</body>
</html>